.selector {
    height: 95vh;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    border-bottom: 3px solid yellowgreen;
}

section {
    flex: 4;
}

#bold {
    font-weight: bold;
}

ul {
    margin-top: 50px;
}

li {
    padding: 10px;
}

#footer {
    border-left: 10px solid yellowgreen;
    padding-left: 20px;
    margin-top: 50px;
}

aside {
    flex: 2;
    margin-left: 50px;
    background-color: rgb(84, 84, 84);
}

h3 {
    text-align: left;
    border: 5px solid rgb(88, 91, 88);
    background: rgb(51, 48, 48);
    color: white;
    padding: 25px;
}

.img {
    display: flex;
    flex-direction: row;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;
}

.text {
    color: white;
    margin-left: 10px;
    padding: 10px;
}
b{
    color: black;
}